.main {
    padding-top: 150px;
    height: auto;
    min-height: 100%;
}

.inner {
    width: 300px;
    margin: 0 auto;
}

.update_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-bottom: 2px solid rgb(180, 186, 192);
}

.update_btn {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    color: #fff;
    background: #0E72AF;
    border-radius: 10px;
}

.logout_btn {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    color: #fff;
    background: rgb(180, 186, 192);
    border-radius: 10px;
}